<div> 
                          <nav class="navbar navbar-default" style="width:1365px;margin-top:-75px">
                                   <div class="container-fluid">
                                     <div class="navbar-header" >
                                       <h3 style="margin-left:550px">Instant Web</h3>
                                     </div>
                                   </div>
                                 </nav>
                                 <div style="margin-top:150px;margin-left:350px">
                                 <a class="btn btn-primary" href="#/teacher">  
                                 <i class="fa fa-plus"></i>Back</a></div> 
                                 <div> 
                                 <button class="btn btn-success" style="margin-left:350px" (click)="save()">
                                 <i class="fa fa-floppy-o"></i> Save Changes </button></div>
                                 <div><table class="table table-bordered text-center" style="margin-left:350px"> 
                                 <tr><th>id</th><td><input type='text' [(ng-model)]='editItem.id'' id='editItem.id'/></td></tr><tr><th>username</th><td><input type='text' [(ng-model)]='editItem.username'' id='editItem.username'/></td></tr><tr><th>email</th><td><input type='text' [(ng-model)]='editItem.email'' id='editItem.email'/></td></tr><tr><th>password</th><td><input type='text' [(ng-model)]='editItem.password'' id='editItem.password'/></td></tr> 
                                 </table> 
                                     </div></div> 
  